USE [Turbo.az]
GO
/****** Object:  Table [dbo].[BanTypes]    Script Date: 12/13/2021 2:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 12/13/2021 2:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mileage] [int] NULL,
	[RegYear] [int] NULL,
	[Price] [money] NULL,
	[MakeId] [int] NULL,
	[ModelId] [int] NULL,
	[ColorId] [int] NULL,
	[RegionId] [int] NULL,
	[BanTypeId] [int] NULL,
	[GearId] [int] NULL,
	[FuelTypeId] [int] NULL,
	[TransmissionId] [int] NULL,
	[EngVolumeId] [int] NULL,
 CONSTRAINT [PK__Cars__3214EC076949B2A6] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 12/13/2021 2:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EngineVolumes]    Script Date: 12/13/2021 2:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EngineVolumes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Volume] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuelTypes]    Script Date: 12/13/2021 2:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gears]    Script Date: 12/13/2021 2:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gears](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Makes]    Script Date: 12/13/2021 2:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Makes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 12/13/2021 2:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[MakeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 12/13/2021 2:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transmissions]    Script Date: 12/13/2021 2:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transmissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BanTypes] ON 

INSERT [dbo].[BanTypes] ([Id], [Name]) VALUES (1, N'Avtobus')
INSERT [dbo].[BanTypes] ([Id], [Name]) VALUES (2, N'Dartqı')
INSERT [dbo].[BanTypes] ([Id], [Name]) VALUES (3, N'Furqon')
SET IDENTITY_INSERT [dbo].[BanTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([Id], [Mileage], [RegYear], [Price], [MakeId], [ModelId], [ColorId], [RegionId], [BanTypeId], [GearId], [FuelTypeId], [TransmissionId], [EngVolumeId]) VALUES (1, 173000, 2006, 11800.0000, 96, 1095, 2, 54, 17, 2, 1, 1, 15)
INSERT [dbo].[Cars] ([Id], [Mileage], [RegYear], [Price], [MakeId], [ModelId], [ColorId], [RegionId], [BanTypeId], [GearId], [FuelTypeId], [TransmissionId], [EngVolumeId]) VALUES (2, 35100, 2018, 18500.0000, 21, 164, 3, 7, 4, 2, 1, 2, 15)
INSERT [dbo].[Cars] ([Id], [Mileage], [RegYear], [Price], [MakeId], [ModelId], [ColorId], [RegionId], [BanTypeId], [GearId], [FuelTypeId], [TransmissionId], [EngVolumeId]) VALUES (3, 161000, 2007, 13300.0000, 122, 1276, 13, 19, 4, 2, 5, 2, 16)
GO
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([Id], [Name]) VALUES (1, N'Qara')
INSERT [dbo].[Colors] ([Id], [Name]) VALUES (2, N'Yaş Asfalt')
INSERT [dbo].[Colors] ([Id], [Name]) VALUES (3, N'Boz')
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[EngineVolumes] ON 

INSERT [dbo].[EngineVolumes] ([Id], [Volume]) VALUES (1, 0)
INSERT [dbo].[EngineVolumes] ([Id], [Volume]) VALUES (2, 100)
INSERT [dbo].[EngineVolumes] ([Id], [Volume]) VALUES (3, 200)
SET IDENTITY_INSERT [dbo].[EngineVolumes] OFF
GO
SET IDENTITY_INSERT [dbo].[FuelTypes] ON 

INSERT [dbo].[FuelTypes] ([Id], [Name]) VALUES (1, N'Benzin')
INSERT [dbo].[FuelTypes] ([Id], [Name]) VALUES (2, N'Dizel')
INSERT [dbo].[FuelTypes] ([Id], [Name]) VALUES (3, N'Qaz')
SET IDENTITY_INSERT [dbo].[FuelTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Gears] ON 

INSERT [dbo].[Gears] ([Id], [Name]) VALUES (1, N'Arxa')
INSERT [dbo].[Gears] ([Id], [Name]) VALUES (2, N'Ön')
INSERT [dbo].[Gears] ([Id], [Name]) VALUES (3, N'Tam')
SET IDENTITY_INSERT [dbo].[Gears] OFF
GO
SET IDENTITY_INSERT [dbo].[Makes] ON 

INSERT [dbo].[Makes] ([Id], [Name]) VALUES (1, N'Abarth')
INSERT [dbo].[Makes] ([Id], [Name]) VALUES (2, N'Alfa Romeo')
INSERT [dbo].[Makes] ([Id], [Name]) VALUES (3, N'Arctic Cat')
GO
SET IDENTITY_INSERT [dbo].[Makes] OFF
GO
SET IDENTITY_INSERT [dbo].[Models] ON 

INSERT [dbo].[Models] ([Id], [Name], [MakeId]) VALUES (1, N'595', 1)
INSERT [dbo].[Models] ([Id], [Name], [MakeId]) VALUES (2, N'Giulia', 2)
INSERT [dbo].[Models] ([Id], [Name], [MakeId]) VALUES (3, N'Giulietta', 2)
GO
SET IDENTITY_INSERT [dbo].[Models] OFF
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([Id], [Name]) VALUES (1, N'Ağcabədi')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (2, N'Ağdam')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (3, N'Ağdaş')
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
SET IDENTITY_INSERT [dbo].[Transmissions] ON 

INSERT [dbo].[Transmissions] ([Id], [Name]) VALUES (1, N'Mexaniki')
INSERT [dbo].[Transmissions] ([Id], [Name]) VALUES (2, N'Avtomat')
INSERT [dbo].[Transmissions] ([Id], [Name]) VALUES (3, N'Robotlaşdırılmış')
SET IDENTITY_INSERT [dbo].[Transmissions] OFF
GO
ALTER TABLE [dbo].[Cars] ADD  CONSTRAINT [DF__Cars__Mileage__4D94879B]  DEFAULT ((0)) FOR [Mileage]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK__Cars__BanTypeId__5629CD9C] FOREIGN KEY([BanTypeId])
REFERENCES [dbo].[BanTypes] ([Id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK__Cars__BanTypeId__5629CD9C]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK__Cars__ColorId__5441852A] FOREIGN KEY([ColorId])
REFERENCES [dbo].[Colors] ([Id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK__Cars__ColorId__5441852A]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK__Cars__EngVolumeI__5DCAEF64] FOREIGN KEY([EngVolumeId])
REFERENCES [dbo].[EngineVolumes] ([Id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK__Cars__EngVolumeI__5DCAEF64]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK__Cars__FuelTypeId__5812160E] FOREIGN KEY([FuelTypeId])
REFERENCES [dbo].[FuelTypes] ([Id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK__Cars__FuelTypeId__5812160E]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK__Cars__GearId__571DF1D5] FOREIGN KEY([GearId])
REFERENCES [dbo].[Gears] ([Id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK__Cars__GearId__571DF1D5]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK__Cars__MakeId__52593CB8] FOREIGN KEY([MakeId])
REFERENCES [dbo].[Makes] ([Id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK__Cars__MakeId__52593CB8]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK__Cars__ModelId__534D60F1] FOREIGN KEY([ModelId])
REFERENCES [dbo].[Models] ([Id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK__Cars__ModelId__534D60F1]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK__Cars__RegionId__5535A963] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([Id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK__Cars__RegionId__5535A963]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK__Cars__Transmissi__59063A47] FOREIGN KEY([TransmissionId])
REFERENCES [dbo].[Transmissions] ([Id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK__Cars__Transmissi__59063A47]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD FOREIGN KEY([MakeId])
REFERENCES [dbo].[Makes] ([Id])
GO
ALTER TABLE [dbo].[BanTypes]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [CK__Cars__Mileage__5165187F] CHECK  (([Mileage]>=(0)))
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [CK__Cars__Mileage__5165187F]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [CK__Cars__Price__4F7CD00D] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [CK__Cars__Price__4F7CD00D]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [CK__Cars__RegYear__5070F446] CHECK  (([RegYear]>=(1950) AND [RegYear]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [CK__Cars__RegYear__5070F446]
GO
ALTER TABLE [dbo].[Colors]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[EngineVolumes]  WITH CHECK ADD CHECK  (([Volume]>=(0)))
GO
ALTER TABLE [dbo].[FuelTypes]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[Gears]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[Makes]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[Regions]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[Transmissions]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
